<footer class="bg-dark bg-gradient mt-5 mb-0 bg-danger p-4">
    <div class="row">
        <div class="col-lg-3 text-white">
            <h1>IKOMI PERU</h1>
            <p>Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y a precios de mercado.</p>
        </div>
        <div class="col-lg-6 text-center">
            <div class="card">
                <div class="card-body">
                    
                    <h3>Direccion</h3>
                    <p>Avenidad Nicolás Ayllon 3384</p>
                    <p>Central - Paradero Rayovac</p> 
                    <p>Lima - Ate</p>
                </div>
                
            </div>

        </div>
        <div class="col-lg-3 text-white">
            <h2>Links</h2>
            <ul class="list-group-flush">
                <li class="list-group-item">Inico</li>
                <li class="list-group-item">Nosotros</li>
                <li class="list-group-item">Servicios</li>
                <li class="list-group-item">Productos</li>
                <li class="list-group-item">Marcas</li>
                <li class="list-group-item">Contactanos</li>
            </ul>

        </div>

    </div>
    <p class="mb-0 text-white text-center mt-5" style="margin: 0 auto;">Todos los derechos reservados &COPY; Erminio Guerrero</p>
</footer>

