<section class="container mt-4">
    <h1 class="text-center my-3">Nosotros</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <p class="bg-secondary-subtle p-4 text-center fs-5">Equipo</p>
                    <div class="w-90 d-flex justify-content-center align-items-center">
                        <img height="200px"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzQQ4HtmFMOV9BHP-xwytx1qcAzP-_hl2hiA&s"
                            alt="img-01">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <p class="bg-secondary-subtle p-4 text-center fs-5">Almacen</p>
                    <div class="w-90 d-flex justify-content-center align-items-center">
                        <img height="200px"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvqYDczxOUMPz9lK1VFuS9Vxv49dJ4KICHXg&s"
                            alt="img-01">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <p class="bg-secondary-subtle p-4 text-center fs-5">Tienda</p>
                    <div class="w-90 d-flex justify-content-center align-items-center">
                        <img height="200px"
                            src="https://www.ikomiperu.com/assets/img/entrada.jpg"
                            alt="img-01">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <p class="bg-secondary-subtle p-4 text-center fs-5">Empresa</p>
                    <div class="w-90 d-flex justify-content-center align-items-center">
                        <img height="200px"
                            src="https://www.ikomiperu.com/assets/img/empresa.jpg"
                            alt="img-01">
        
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>


