<section class="container mt-4">
    <h1 class="text-center my-3">Servicios</h1>
    <h4 class="mx-4 my-4 text-center">Estamos listos para atenderte.</h4>
    <div class="row">
        <div class="col-lg-6 mt-3 ">
            <div class="d-flex bg-black p-3 rounded">
                <img class="rounded mx-3"
                    src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTX6ixJWJe_1J2zoW-wZe1VLIiCFqOHpFwEn2_VjeiTG4RId69E"
                    alt="" style="width: 70px; height: 70px;">
                <div class="">

                    <h2 class="text-white">Ventas</h2>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cupiditate
                        dolore provident repellat nemo,
                        reprehenderit sint magni nostrum ex, accusantium similique ullam! Veniam quas laudantium at
                        praesentium
                        aspernatur ducimus. Tempora, sed recusandae asperiores doloribus praesentium numquam quo dolore
                        suscipit
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-3 ">
            <div class="d-flex bg-black p-3 rounded">
                <img class="rounded mx-3"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI98Rxq3QY6s4wx_sNKknaN8jDQ7TnAECaFJ_Qn2GKOX0veWfZ"
                    alt="" style="width: 70px; height: 70px;">
                <div class="">

                    <h2 class="text-white">Asesorias</h2>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cupiditate
                        dolore provident repellat nemo,
                        reprehenderit sint magni nostrum ex, accusantium similique ullam! Veniam quas laudantium at
                        praesentium
                        aspernatur ducimus. Tempora, sed recusandae asperiores doloribus praesentium numquam quo dolore
                        suscipit
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-3 ">
            <div class="d-flex bg-black p-3 rounded">
                <img class="rounded mx-3"
                    src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRaJxMrNR-xAllVAEUC6VxDrlMlus836W292uBbb-I6ad97NEbC"
                    alt="" style="width: 70px; height: 70px;">
                <div class="">

                    <h2 class="text-white">Delibery</h2>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cupiditate
                        dolore provident repellat nemo,
                        reprehenderit sint magni nostrum ex, accusantium similique ullam! Veniam quas laudantium at
                        praesentium
                        aspernatur ducimus. Tempora, sed recusandae asperiores doloribus praesentium numquam quo dolore
                        suscipit
                </div>
            </div>
        </div>


        <div class="col-lg-6 mt-3 ">
            <div class="d-flex bg-black p-3 rounded">
                <img class="rounded mx-3"
                    src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQtYU71YU6x2VqYvvmWrR0jtCvGIw3y12YQCihlJIXI7goeFrx7"
                    alt="" style="width: 70px; height: 70px;">
                <div class="">

                    <h2 class="text-white"><a class="text-decoration-none text-white" href="/products">Productos</a></h2>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cupiditate
                        dolore provident repellat nemo,
                        reprehenderit sint magni nostrum ex, accusantium similique ullam! Veniam quas laudantium at
                        praesentium
                        aspernatur ducimus. Tempora, sed recusandae asperiores doloribus praesentium numquam quo dolore
                        suscipit
                </div>
            </div>
        </div>

    </div>

</section>