<section class="container mt-4">
    <h1 class="text-center my-3">Nosotros Productos</h1>
    <h3 class="text-center my-4">Los mejores productos y precios.</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="">
                <div class="">
                    <div class="w-90 d-flex justify-content-center align-items-center">
                        <img height="200px"
                            src="https://www.ikomiperu.com/assets/img/producto/valeo/DISCO-DE-EMBRAGUE-768x551.png"
                            alt="img-01">

                    </div>
                    <h2 class="text-center"> Discos de embrague</h2>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="">
                <div class="">
                    <div class="w-90 d-flex justify-content-center align-items-center">
                        <img height="200px"
                            src="https://www.ikomiperu.com/assets/img/producto/HANSANG/14-HANSANG-PINON-Y-CORONA-768x512.jpg"
                            alt="img-01">

                    </div>
                    <h2 class="text-center"> Piñon y corona</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="">
                <div class="">
                    <div class="w-90 d-flex justify-content-center align-items-center">
                        <img height="200px"
                            src="https://www.ikomiperu.com/assets/img/producto/valeo/PLATO-DE-EMBRAGUE-768x515.png"
                            alt="img-01">

                    </div>
                    <h2 class="text-center"> Plato de embrague</h2>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-5">
            <div class="">
                <div class="">
                    <div class="w-90 d-flex justify-content-center align-items-center">
                        <img height="200px"
                            src="https://www.ikomiperu.com/assets/img/producto/SANGSIN/pastilla-hiq.1-2-768x469.png"
                            alt="img-01">

                    </div>
                    <h2 class="text-center"> Pastillas de freno</h2>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-5">
            <div class="">
                <div class="">
                    <div class="w-90 d-flex justify-content-center align-items-center">
                        <img height="200px"
                            src="https://www.ikomiperu.com/assets/img/producto/HANSANG/PROPULSOR-Y-DESLIZANTE-3-768x636.png"
                            alt="img-01">

                    </div>
                    <h2 class="text-center">Pulsor y deslizante</h2>
                </div>
            </div>
        </div>


    </div>

</section>

